client/src/css/*.css linguist-vendored
client/src/css/** linguist-vendored
client/src/public-page/css/*.css linguist-vendored
client/src/public-page/css/**.css linguist-vendored
client/src/public-page/fonts/**.css linguist-vendored