client/src/css/*.css linguist-vendored=false
client/src/css/ linguist-vendored=false
client/src/public-page/css/*.css linguist-vendored=false
client/src/public-page/css/ linguist-vendored=false
client/src/public-page/fonts/ linguist-vendored=false