.nav {
  /* background: rgb(77, 129, 254);
  background: linear-gradient(180deg, rgba(77, 129, 254, 1) 0%, rgba(70, 224, 255, 1) 100%); */
  background: rgb(77, 129, 254);
  background: linear-gradient(180deg, rgb(62, 116, 244) 0%, rgb(145, 196, 250) 100%);
}