/* purgecss ignore */
html {
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Helvetica Neue", "Hiragino Sans GB", Helvetica,
    "Microsoft YaHei", Arial;
  margin: 0;
}

body {
  height: 100%;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.am-toast-notice-content {
  text-align: -webkit-center;
}

.swal2-popup {
  font-size: 0.5rem !important;
}